img {
    float: left;
    position: relative;
    top: -25px;
    left: 20px;
    height: 105px;
  }

.button{
    background-color: rgb(246, 162, 190);
    aspect-ratio: auto;
    border-radius: 20px;
    border-color: rgba(246, 162, 190);
    color: black;
    font-family: 'Open Sans';
    padding: 5px;
    font-size: 30px;
    height: 60px;
    width: 160px;
    top: 400px;
    left: 30px;
    position: relative;
    
}

.button2{background-color: rgb(197, 246, 255);
    aspect-ratio: auto;
    border-radius: 20px;
    border-color: rgba(197, 246, 255 );
    color: black;
    font-family: 'Open Sans';
    padding: 5px;
    font-size: 30px;
    height: 60px;
    width: 160px;
    top: 160px;
    right:210px;
    position: relative;}

.card{
  background-color: rgb(225, 225, 225);
  width: 80%;
  height: 50%;
  aspect-ratio: auto;
  border-radius: 30px;
  color: white;
  font-family: 'Open Sans';
  padding: 30px;
  position: relative;
  overflow: visible;
  top: 70px;
  left: 10px;
}